# Ignorer les fichiers de cache de Visual Studio
.vs/

# Ignorer les fichiers spécifiques générés lors de la compilation
EasySave/EasySave/obj/
EasySave/EasySave/bin/
EasySave/EasySave/Properties/
EasySave/EasySave/Settings/
EasySave/EasySave/conf/
EasySave/EasySave/log/
Client_EasySave/Client_EasySave/Client_EasySave/bin/
Client_EasySave/Client_EasySave/Client_EasySave/obj/
Client_EasySave/Client_EasySave/Client_EasySave/Properties/
# Ignorer les fichiers de configuration utilisateur de Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
